-f https://download.pytorch.org/whl/cu113/torch_stable.html
asttokens==2.2.1
backcall==0.2.0
cellpose==2.2.2
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
fastremap==1.13.5
fonttools==4.40.0
idna==3.4
imagecodecs==2023.3.16
importlib-metadata==6.8.0
importlib-resources==6.0.0
ipykernel==6.24.0
ipython==8.12.2
jedi==0.18.2
joblib==1.3.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
lightning-utilities==0.9.0
llvmlite==0.40.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
natsort==8.4.0
nest-asyncio==1.5.6
numba==0.57.1
numpy==1.21.6
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.8.1
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.0
requests==2.31.0
roifile==2023.5.12
scikit-learn==1.3.0
scipy==1.10.1
six==1.16.0
stack-data==0.6.2
threadpoolctl==3.1.0
tifffile==2023.7.4
torch==1.11.0+cu113
torchmetrics==1.0.0
torchvision==0.12.0+cu113
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
urllib3==2.0.3
wcwidth==0.2.6
zipp==3.16.0
